.login {
    background: rgb(217, 221, 221);
    padding: 50px 50px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    border-radius: 24px;
    animation: fade-in 3s;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
    text-align: center;
}

.inputBox {
    height: 48px;
    width: 400px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
  }


  